<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand nav-link {{map}}" href="map">Карта выпускников TLVL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link {{map}}" href="map">На главную</a>
      <a class="nav-item nav-link {{about}}" href="about">О карте</a>
      {{#unless user}}
        <a class="nav-item nav-link {{signup}}" href="signup">Регистрация</a>
        <a class="nav-item nav-link {{login}}" href="login">Вход</a>
      {{/unless}}
      {{#if user}}
        <a class="nav-item nav-link {{account}}" href="account">Мой профиль</a>
        <a class="nav-item nav-link" href="logout">Выйти</a>
      {{/if}}
    </div>
  </div>
  <div class="navbar">
    {{>alumniCounter}}
  </div>
</nav>
