  
<div style="background-color:#F8F9FA;">
{{>navbar account='active'}}
 
<!–– CHANGE CREDENTIALS FORM––>
<div class="container border" >
 
  <!–– CHANGE EMAIL FORM––>
  <form class="form-horizontal " role="form" method="POST" action="/account/changeEmail">
    <div class = "row mt-3">
	  <div class = "col-md-3">
	    Текущий E-mail: 	 
	  </div>
	  <div class = "col-md-9">
	    {{user.email}}
	  </div>
	</div>
	<div class = "row mt-3">
	  <div class = "col-md-3 ">
	    Смена E-mail: 	 
	  </div>
	  <div class = "col-md-6 ">
	    <input type="text" name="email" class="form-control" id="email" placeholder="Введите новый E-mail">
	  </div>
	  <div class = "col-md-3 ">
	    <button type="submit" class = "btn btn-primary">
	      Сменить
	    </button>
	  </div>
	</div>
  </form>
  <!–– END OF CHANGE EMAIL FORM––>
	   <hr/>
	    <!–– CHANGE PASSWORD FORM––>
	  <form class="form-horizontal " role="form" method="POST" action="/account/changePassword">
	  	<span class="text-danger align-middle">
                    {{flash.error}}
                </span>
	  	    <div class = "row mt-3">
	  	
	  <div class = "col-md-3">
	    Смена пароля:	 
	  </div>
	  <div class = "col-md-6">
	     <input type="password"  name="password" class="form-control" id="password" placeholder="Введите новый пароль">
	  </div>
	</div>
	   <div class = "row mt-3">
	   <div class = "col-md-3 ">
	     Пароль ещё раз: 	 
		 </div>
		  <div class = "col-md-6 ">
		 <input type="password"  name="password_confirmation" class="form-control" id="password-confirmation" placeholder="Повторите новый пароль">
		 </div>
		 <div class = "col-md-3 ">
	     <button type="submit" class = "btn btn-primary">
	   Сменить
	   </button>
	   </div>
		  </div>
      </form>
	  <!–– END OF CHANGE PASSWORD FORM––>
	   <hr/>
	  <!–– CHANGE TEACHER FORM––>
	  <form class="form-horizontal " role="form" method="POST" action="/account/changeTeacherName">
	  	<div class = "row mt-3">
	  <div class = "col-md-3">
	    Текущий учитель:	 
	  </div>
	  <div class = "col-md-9">
	    {{user.teacherName}}
	  </div>
	</div>
	   <div class = "row mt-3">
	   <div class = "col-md-3 ">
	     Смена учителя:
		 </div>
		  <div class = "col-md-6 ">
		 <input type="text"  name="teacherName" class="form-control" id="teacherName" placeholder="Введите нового учителя">
		 </div>
		 <div class = "col-md-3 ">
	     <button type="submit" class = "btn btn-primary">
	   Сменить
	   </button>
	   </div>
		  </div>
      </form>
	  <!–– END OF CHANGE TEACHER FORM––>
	   <hr/>
	    <!–– CHANGE WORKSCOPE FORM––>
	  <form class="form-horizontal " role="form" method="POST" action="/account/changeWorkScope">
	  	  <div class = "row mt-3">
	  <div class = "col-md-3">
	    Текущая область деятельности: 	 
	  </div>
	  <div class = "col-md-9">
	    {{user.workScope}}
	  </div>
	</div>
	   <div class = "row mt-3">
	   <div class = "col-md-3 ">
	     Смена области деятельности: 	 
		 </div>
		  <div class = "col-md-6 ">
		 <input type="text"  name="workScope" class="form-control" id="workScope" placeholder="Введите новую область деятельности">
		 </div>
		 <div class = "col-md-3 ">
	  <button type="submit" class = "btn btn-primary">
	   Сменить
	   </button>
	   </div>
		  </div>
      </form>
	  <!–– END OF CHANGE JOB FORM––>
	   <hr/>
	      <!–– CHANGE GREETING FORM––>
	  <form class="form-horizontal " role="form" method="POST" action="/account/changeGreeting">
	  	<div class = "row mt-3">
	  <div class = "col-md-3">
	    Текущее пожелание: 	 
	  </div>
	  <div class = "col-md-9">
	    {{user.greeting}}
	  </div>
	</div>
	   <div class = "row mt-3">
	   <div class = "col-md-3">
	     Смена пожелания: 	 
		 </div>
		  <div class = "col-md-6">
		 <textarea type="text" name="greeting" class="form-control" id="greeting" placeholder="Введите новое пожелание"> </textarea>
		 </div>
		 <div class = "col-md-3">
	   <button type="submit" class = "btn btn-primary">
	   Сменить
	   </button>
	   </div>
		  </div>
      </form>
	  <!–– END OF WISH FORM––>
	   <hr/>
	   <!–– LOCATION CHANGE FORM––>
	  <form class="form-horizontal mt-3" role="form" method="POST" action="/account/changeLocation">
	  		<div class = "row mt-3">
	  <div class = "col-md-3">
	    Текущее местоположение: 	 
	  </div>
	  <div class = "col-md-9">
	    {{user.addressForMap.name}}
	  </div>
	</div>
	   <div class="row mt-3">
            <div class="col-md-3 field-label-responsive">
                <label for="name">Город в котором находитесь</label>
            </div>
            <div class="col-md-6">
      
        
        <div id="search" class = "form-group"  required>
            <div class="row">
            <div class = "col-md-6">
            <input type="text" name="addr" value="" id="addr" class ="addr form-control" size="10" />
        </div>
        <div class = "col-md-6">
            <button type="button" class="btn btn-info" onclick="addr_search();">Поиск</button>
            </div>
        </div>
            <div id="results"/>
        </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                            <!-- Put validation error messages here -->
                        </span>
                </div>
            </div>
        </div>
		<div class="row">
            <div class="ml-3"></div>
            <div class="ml-4 text-center">
                <button type="submit" class="btn btn-primary"> Сменить</button>
            </div>
        </div>
 
  <input type="hidden" name="lat" value="" id="lat" class ="lat" size="10">
  <input type="hidden" name="lon" value="" id="lon" class ="lon" size="10">

   </form>
    <!–– END OF LOCATION CHANGE FORM––>


</div>
  <!–– END OF CHANGE CREDENTIALS FORM––>
<script>
function chooseAddr(lat1, lng1, lat2, lng2, osm_type) {
    console.log(lat1 + "/" + lng1);
    $('#results').empty();
    $('<b>', { html: "Вы выбрали адрес: " + osm_type }).appendTo('#results');
    $("#realAddr").val(lat1 + "/" +  lng1);
	$("#lat").val(lat1);
	$("#lon").val(lng1);

}

function addr_search() {
    var inp = document.getElementById("addr");

    $.getJSON('http://nominatim.openstreetmap.org/search?format=json&limit=5&q=' + inp.value, function(data) {
        var items = [];

        $.each(data, function(key, val) {
            bb = val.boundingbox;
            items.push("<li><a href='#' onclick='chooseAddr(" + bb[0] + ", " + bb[2] + ", " + bb[1] + ", " + bb[3]  + ", \"" + val.display_name + "\");return false;'>" + val.display_name + '</a></li>');
        });


        $('#results').empty();
        if (items.length != 0) {
            $('<p>', { html: "Нажмите на адрес, чтобы выбрать:" }).append('#results');
            $('<ul/>', {
                'class': 'my-new-list',
                html: items.join('')
            }).appendTo('#results');
        } else {
            $('<p>', { html: "Город не найден." }).append('#results');
        }
    });
}
    </script>

  {{>footer}}
</div>
