<div style="background-color:#F8F9FA;">
  {{>navbar map='active'}}

  <div class = "container-fluid mr-3 " style="width: max-width; height: 560px">
   <div id="mapid">
   </div>
  </div>
  {{>footer}}
  <script src="/js/map.js"></script>
  {{#each locations.locations as |item i|}}

  <script>
      for(let x =0;x <= parseInt("{{i}}"); x++) {
         SetCountry();
      }
      function SetCountry() {
	 
  	let v = L.marker([parseInt("{{item.lat}}"), parseInt("{{item.lng}}")]).addTo(mymap); 
  v.bindPopup("<strong>"+ "{{item.location_name}}" + "</strong><br />"+ "{{item.alumni_count}}" +" Выпускника");
}
</script>

{{/each}}
</div>
